@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.FirstSec{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(bg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: absolute;
  bottom: -6px;
}

.logo img{
  width:100px;
}




header .logo{
  position: relative;
  color: #000;
  }
header .navigation a{
  color: #000;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background: #fff;
}

.content{
  max-width: 650px;
  margin: 196px 100px;
}

.content .info h2{
  color: #226A80;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.content .info p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content .info-btn{
  color: #fff;
  background: #226A80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover{
  background: #0C4F60;
}

.media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a{
  position: relative;
  color: #111;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child){
  margin-right: 60px;
}

.media-icons a:hover{
  transform: scale(1.5);
}


/* Responsive CSS */

@media (max-width: 960px){
  header .navigation{
    display: none;
  }

  header .logo{
    position: absolute;
    bottom: -6px;
  }

  .content .info h2{
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span{
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }
}

@media (max-width: 560px){
  .content .info h2{
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span{
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }
}

.about{
  background-color: rgb(218, 223, 220);
  height: 650px;

}
.about h1{
  font-size: 300%;
}
.about span{
  font-size: 20px;
}
.heading{
  text-align: center;
  color: rgb(66, 206, 120);
}
.about-img{
 
  padding: 47px 72px 51px 68px;
 
  border-radius: 10px;
}
.about-img img{
  width:341px;
  border-radius: 30px;
 box-shadow: aqua;
 height: 300%;
 margin-left: 426px;

}
.about-text p{
  text-align: end;
  padding: 10px 10px 48px 74px;
}

/* contact */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 100;
}
.contact{
  padding-right: 100px;
  margin-left: 300px;
  margin-right: 300px;
  max-width: 500;
  align-items: center;
  height: 600px;
}